
@{
    Layout = null;
}


@{
    Layout = null;
}
@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/AdminLTE-3.2.0/index2.html"><b>Rent A Car </b>Admin Sayfası</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Oturumunuzu başlatmak için oturum açın</p>

                <form asp-action="Index" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="UserName" class="form-control" type="text" placeholder="Kullanıcı Adını Giriniz." />

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-text" id="basic-addon4"> <span asp-validation-for="UserName" class="text-danger"></span> </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" type="text" placeholder="Şifrenizi" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-text" id="basic-addon4"> <span asp-validation-for="Password" class="text-danger"></span> </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="KeepMe" class="form-check" />
                                <label asp-for="KeepMe">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                
                <!-- /.social-auth-links -->

                
                <p class="mb-0">
                    <a asp-action="Register" asp-controller="Login" class="text-center">Yeni Admin Üyesim Kayıt Olmak İstiyorum.</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.2.0/dist/js/adminlte.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await Component.InvokeAsync("Notyf")

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>

