
@{
    ViewData["Title"] = "SendMail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<MailViewModel>
<div class="row">
    <div class="col-md-3">
        <a href="mailbox.html" class="btn btn-primary btn-block mb-3">Back to Inbox</a>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Folders</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item active">
                        <a asp-action="Index" asp-controller="Mail" class="nav-link">
                            <i class="fas fa-inbox"></i> Gelen Kutusu
                          
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="GonderilenMail" asp-controller="Mail" class="nav-link">
                            <i class="far fa-envelope"></i> Gönderdiğim Mailer
                        </a>
                    </li>
                </ul>
            </div>

        </div>

      

    </div>
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Mail Oku</h3>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>

            <div class="card-body p-0">
                @foreach(var x in Model)
                {
                    <div class="mailbox-read-info">
                        <h5>@x.Konu</h5>
                        <h6>
                            Kimden: @x.Gonderici
                     
                        </h6>
                    </div>
                    <div class="mailbox-controls with-border text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" data-container="body" title="Delete">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
                                <i class="fas fa-reply"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
                                <i class="fas fa-share"></i>
                            </button>
                        </div>

                        <button type="button" class="btn btn-default btn-sm" title="Print">
                            <i class="fas fa-print"></i>
                        </button>
                    </div>
                    <div class="mailbox-read-message">
                        <p>
                           @x.icerik
                        </p>

                    </div>
                }
                

                

               

            </div>


           

        </div>

    </div>
  


</div>

