
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card mb-4" style="margin-top:20px;">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Röller Tablomuz</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tbaraba" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Kullanıcı Adı	 </th>
                                <th>User Name	</th>
                                <th>Role Tipi		</th>
                                <th>İşlemler	</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Kullanıcı Adı	 </th>
                                <th>User Name	</th>
                                <th>Role Tipi		</th>
                                <th>İşlemler	</th>
                            </tr>
                        </tfoot>
                        <tbody id="tblBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>















@section Scripts{
<script src="~/js/RoleJs.js"></script>
}

