
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}







<div class="container">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kullanıcı Adı</th>
                <th>User Name</th>
                <th>Role Tipi</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblBody">
         </tbody>
    </table>

</div>




@section Scripts{
<script src="~/js/RoleJs.js"></script>
}

