
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="subheader" class="jarallax text-light">
    <img src="~/site_tema/images/background/subheader.jpg" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Hakkımızda</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->

<section>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInRight">
                <h2> Müşterilerimize her duruma uygun <span class="id-color">Geniş bir ticari araç</span> ve <span class="id-color">lüks araç</span> yelpazesi sunuyoruz.</h2>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s">
                İş dünyasında ve özel yaşamınızda daima yüksek standartlara sahip olmak istiyorsanız, sizin için mükemmel bir seçenek sunuyoruz. Müşterilerimize her duruma uygun geniş bir ticari araç ve lüks araç yelpazesi sunarak, seyahat deneyiminizi bir üst seviyeye taşıyoruz.
            </div>
        </div>
        <div class="spacer-double"></div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                    İşlem Sayımız
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
                    Mutlu Müşteri
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                    Araçlarımız
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                    <h3 class="timer" data-to="15" data-speed="3000">0</h3>
                    Tecrübemiz

                </div>
            </div>
        </div>
    </div>
</section>

<section aria-label="section" class="jarallax text-light">
    <img src="~/site_tema/images/background/8.jpg" class="jarallax-img" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Yönetim Kurulu</h2>
                <div class="spacer-20"></div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="fpw-overlay-btm"></div>
                        <img src="~/site_tema/images/team/1.jpg" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Ahmet Kale</h4>
                    Müdür
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="fpw-overlay-btm"></div>
                        <img src="~/site_tema/images/team/2.jpg" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Mustafa Uçan</h4>
                    Müdür
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="fpw-overlay-btm"></div>
                        <img src="~/site_tema/images/team/3.jpg" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Ali Gezer</h4>
                    Muhasebe Yöneticisi
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="fpw-overlay-btm"></div>
                        <img src="~/site_tema/images/team/4.jpg" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Ayşe Yıldırım</h4>
                    İnsan Kaynakları
                </div>
            </div>

        </div>
    </div>
</section>

<section aria-label="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Araç Özelliklerimiz</h2>
                <div class="spacer-20"></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-3">
                <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                    <i class="fa bg-color fa-trophy"></i>
                    <div class="d-inner">
                        <h4>Birinci Sınıf Hizmet</h4>
                        Lüksün olağanüstü özenle buluştuğu, unutulmaz anlar yarattığınız ve her beklentinizi aştığınız yer.
                    </div>
                </div>
                <div class="box-icon s2 p-small mb20 wow fadeInL fadeInRight" data-wow-delay=".75s">
                    <i class="fa bg-color fa-road"></i>
                    <div class="d-inner">
                        <h4>
                            7/24 yol yardımı
                            
                        </h4>
                        En çok ihtiyaç duyduğunuz anda güvenilir destek, güvenle ve gönül rahatlığıyla hareket etmenizi sağlar.
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="~/site_tema/images/misc/car.png" alt="" class="img-fluid wow fadeInUp">
            </div>

            <div class="col-lg-3">
                <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1s">
                    <i class="fa bg-color fa-tag"></i>
                    <div class="d-inner">
                        <h4>En Yüksek Kalite</h4>
                        Maksimum değer için maliyetleri en aza indirirken kaliteyi yükselterek uygun fiyatlı mükemmelliğin kilidini açın.
                    </div>
                </div>
                <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1.25s">
                    <i class="fa bg-color fa-map-pin"></i>
                    <div class="d-inner">
                        <h4>
                            Ücretsiz Alma ve Bırakma
                        </h4>
                        Araç kiralama deneyiminize ekstra kolaylık katan ücretsiz karşılama ve bırakma hizmetlerinin keyfini çıkarın.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h2 class="s2">
                    Daha fazla bilgi için bizi arayın. Kiralık müşteri hizmetleri her zaman size yardımcı olmak için burada.
                </h2>
            </div>

            <div class="col-lg-4 text-lg-center text-sm-center">
                <div class="phone-num-big">
                    <i class="fa fa-phone"></i>
                    <span class="pnb-text">
                        Bizi Arayın
                    </span>
                    <span class="pnb-num">
                       +555 555 55 55   
                    </span>
                </div>
                <a href="#" class="btn-main">İletişim</a>
            </div>
        </div>
    </div>
</section>

