
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ContactViewModel
<section id="subheader" class="jarallax text-light">
    <img src="~/site_tema/images/background/subheader.jpg" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>İletişim</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->


<section aria-label="section">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-8 mb-sm-30">
                <h3>Herhangi Bir Sorunuz mu var bizimle iletişime geçin</h3>
                <form asp-action="Contact" asp-controller="Home" method="post">
                    <div class="row">
                        <div class="col-md-4 mb10">
                            <div class="field-set">
                                <input asp-for="NameandSurname" class="form-control" placeholder="Adınız ve Soyadınız." required>
                                <span asp-validation-for="NameandSurname"></span>
                            </div>
                        </div>
                        <div class="col-md-4 mb10">
                            <div class="field-set">
                                <input asp-for="Email" class="form-control" placeholder="Mail Adresiniz." required>
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="col-md-4 mb10">
                            <div class="field-set">
                                <input asp-for="Phone" class="form-control" placeholder="Telefon numaranız" required>
                                <span asp-validation-for="Phone"></span>
                            </div>
                        </div>
                    </div>

                    <div class="field-set mb20">
                        <textarea asp-for="Message" rows="10" class="form-control" placeholder="Messajınız" required></textarea>
                        <span asp-validation-for="Message"></span>
                    </div>
                    <button type="submit" class="btn-main" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mesaj Gönder">
                        Mesaj Gönderin.
                    </button>
                </form>
            </div>

            <div class="col-lg-4">

                <div class="de-box mb30">
                    <h4>Antalya Offis</h4>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>Antalya Turkey</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+555 555 55 55</span>
                        <span>
                            <i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">
                                contact@rentacar.com
                            </a>
                        </span>
                    </address>
            </div>
            </div>
        </div>
    </div>

</section>
@section Script{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
