
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LoginModel
<div class="no-bottom no-top" id="content">

    <div id="top"></div>
    <section id="section-hero" aria-label="section" class="jarallax">
        <img src="~/site_tema/images/background/2.jpg" class="jarallax-img" alt="">
        <div class="v-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 offset-lg-4">
                        <div class="padding40 rounded-3 shadow-soft" data-bgcolor="#ffffff">
                            <h4>Giriş</h4>
                            <div class="spacer-10"></div>
                            <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                            </div>
                            <form asp-action="Login" asp-controller="Home" class="form-border" method="post">
                               
                                <div class="field-set">
                                    <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adınız" />
                                </div>
                                <div class="field-set">
                                    <input asp-for="Password"  class="form-control" placeholder="Şifreniz:" />
                                </div>
                                <div id="submit">
                                    <input type="submit" id="send_message" value="Giriş yap" class="btn-main btn-fullwidth rounded-3" />
                                </div>
                            </form>
                            <div class="title-line">Diğer&nbsp;Giriş&nbsp;Yöntemlerimiz&nbsp;</div>
                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <a class="btn-sc btn-fullwidth mb10" href="#"><img src="images/svg/google_icon.svg" alt="">Google</a>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn-sc btn-fullwidth mb10" href="#"><img src="images/svg/facebook_icon.svg" alt="">Facebook</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
