<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-header">Site Ayarları</li>
        <li class="nav-item">
            <a asp-action="SiteSeo" asp-controller="Admin" class="nav-link">
                <i class="nav-icon fas fa-file"></i>
                <p>
                    Seo Ayarları
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Role" asp-controller="Admin" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                    Role Ayarları
                </p>
            </a>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Logout" class="nav-link">
                <i class="nav-icon"></i>
                <p>
                    Profile Ayarları
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Logout" class="nav-link">
                <i class="nav-icon"></i>

                <p>
                    Çıkış Yap
                </p>
            </a>
        </li>

        <li class="nav-header">İşlemler</li>
        <li class="nav-item">
            <a asp-action="VehicleKategori" asp-controller="Vehicle" class="nav-link">
                <i class="nav-icon fas fa-car-alt"></i>
                <p>Araba Kategori</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="VehicleYakıt" asp-controller="Vehicle" class="nav-link">
                <i class="nav-icon fas fa-car-alt"></i>
                <p>Araba Yakıt Türü</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Vehicle" asp-controller="Vehicle" class="nav-link">
                <i class="nav-icon fas fa-car"></i>
                <p>Arabalar</p>
            </a>
        </li>
   
     
    </ul>
</nav>