<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        @if (User.IsInRole("admin"))
        {
          
            <li class="nav-header">Site Ayarları</li>
            <li class="nav-item">
                <a asp-action="SiteSeo" asp-controller="Admin" class="nav-link">
                    <i class="nav-icon fas fa-file"></i>
                    <p>
                        Seo Ayarları
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Role" asp-controller="Admin" class="nav-link">
                    <i class="nav-icon far fa-calendar-alt"></i>
                    <p>
                        Role Ayarları
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="Duyuru" asp-controller="Admin" class="nav-link">
                    <i class="nav-icon nav-icon fas fa-th"></i>

                    <p>
                        Duyuru Ayarları
                    </p>
                </a>
            </li>
        }


        

        <li class="nav-item">
            <a asp-action="Index" asp-controller="Mail" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                    Mail Kutum
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Logout" class="nav-link">
                <i class="nav-icon far fa-circle-xmark"></i>

                <p>
                    Çıkış Yap
                </p>
            </a>
        </li>

        <li class="nav-header">İşlemler</li>
        <li class="nav-item">
            <a asp-action="VehicleKategori" asp-controller="Vehicle" class="nav-link">
                <i class="nav-icon fas fa-car-alt"></i>
                <p>Araba Tipi</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="VehicleYakıt" asp-controller="Vehicle" class="nav-link">
                <i class="nav-icon fas fa-car-alt"></i>
                <p>Araba Yakıt Türü</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="ArabaMarka" asp-controller="Vehicle" class="nav-link">
                <i class="nav-icon fas fa-car-alt"></i>
                <p>Araba Markalar Türü</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Vehicle" asp-controller="Vehicle" class="nav-link">
                <i class="nav-icon fas fa-car"></i>
                <p>Arabalar</p>
            </a>
        </li>


    </ul>
</nav>